*:focus {
    outline: none;
}

.InputTitle{
    user-select: none;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    max-width: 400px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    position: relative;
}

.txt-area-title{
    display: flex;
    height: 100px;
    width: 250px;
    color: #6E6E6E;
    background-color: transparent;
    border: transparent;
    font-size: 58px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    border: 1px solid #6E6E6E;
    background-color: antiquewhite;
    border-radius: 15px;
    max-height: 400px;
    max-width: 800px;
    scrollbar-width: none;
}

.Input h1{
    display: flex;
    flex-wrap: wrap;
}

/* Cкрыть бар в других браузерах */
.txt--title::-webkit-scrollbar{
    display: none;

}

textarea::placeholder {
    text-align: center;
}
