.Input{
    height: 100px;
    width: 600px;
    user-select: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #6E6E6E;
    background-color: antiquewhite;
    border-radius: 15px;
    z-index: 1000;
}

.txt-area{
    display: flex;
    height: 100px;
    width: 100%;
    color: #6E6E6E;
    background-color: transparent;
    border: transparent;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    resize: none;
}

.Input h1{
    display: flex;
    flex-wrap: wrap;
}
