*:focus {
    outline: none;
}

.Input{
    user-select: none;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    max-width: 400px;
    cursor: pointer;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    position: relative;
    flex-direction: column;
}

.txt-area{
    display: flex;
    height: 100px;
    width: 250px;
    color: #6E6E6E;
    background-color: transparent;
    border: transparent;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    resize: none;
    border: 1px solid #6E6E6E;
    background-color: antiquewhite;
    border-radius: 15px;
    max-height: 400px;
    max-width: 400px;
    scrollbar-width: none;
}

.Input h1{
    display: flex;
    flex-wrap: wrap;
}

/* Cкрыть бар в других браузерах */
.txt-area::-webkit-scrollbar{
    display: none;

}

textarea::placeholder {
    text-align: center;
}


.toolbar{
  width: 300px;
  display: none;
  justify-content: center;
}

.card{
  display: flex;
  
}

.txtstyler{
  width: 30px;
  height: 30px;
}

.bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.selectBtn{
  height: 20px;
  color: aliceblue;
  font-size: 24px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

.wrapper{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.content .options{
  margin-top: 5px;
  background: white; 
}

.content{
  display: none;
}

.wrapper.active .content{
  display: block;
}

.content li{
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 3px;
}


